.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
figures/
suppFigures/
result_tables/
models/
on_gunvor/land5crop.tif
on_gunvor/df_sub.csv
on_gunvor/newCoords5.csv
on_gunvor/gunvor_notes.txt
stickleback-wave.RProj